/* BREAKPOINTS */
/* COLORS */
.color-accent {
  background-color: #271C23;
}

.color-accent-dark {
  background-color: #992B43;
}

.color-accent-dark-light {
  background-color: #C45744;
}

.color-accent-medium {
  background-color: #E38946;
}

.color-accent-lighter {
  background-color: #F5BF51;
}

@media only screen and (max-width: 1379px) {
  .lg-vertical {
    display: block !important;
  }
}

@media only screen and (max-width: 1379px) {
  .lg-horizontal {
    display: flex !important;
  }
}

@media only screen and (max-width: 1379px) {
  .lg-margin-top-20 {
    margin-top: 20px !important;
  }
}

.pos-abs {
  position: absolute;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vert-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.margin-top-20 {
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  overflow-x: hidden;
}
@media only screen and (min-width: 1379px) {
  body {
    overflow-y: hidden;
  }
}

@font-face {
  font-family: "Source Sans Pro Light";
  src: url(../src/fonts/SourceSansPro-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro ExtraLightLight";
  src: url(../src/fonts/SourceSansPro-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro Regular";
  src: url(../src/fonts/SourceSansPro-Regular.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6, div, p {
  font-family: "Source Sans Pro Light", sans-serif;
  color: white;
}

h1 {
  font-family: "Source Sans Pro ExtraLightLight", sans-serif;
  font-size: 45px !important;
  font-weight: 100;
}

h2 {
  font-family: "Source Sans Pro ExtraLightLight", sans-serif;
  font-size: 45px;
  padding: 0;
  margin: 0 !important;
}

.button .material-icons {
  font-size: 35px;
  color: white;
}

.wrapper {
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 1379px) {
  .wrapper {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1379px) {
  .wrapper {
    width: 100vw;
    padding-bottom: 130px;
  }
}

.groupCenter {
  display: flex;
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1379px) {
  .groupCenter {
    transform: translate(-50%, 0);
    margin-top: 130px;
    width: 540px;
  }
}
@media only screen and (min-width: 1379px) {
  .groupCenter {
    width: 1340px;
  }
}

.content {
  display: flex;
}
.content.vertical {
  display: block;
}
@media only screen and (max-width: 1379px) {
  .content.vertical:nth-child(n+2) {
    margin-left: -20px;
  }
}

.squareCard {
  z-index: 1;
  position: relative;
  width: 250px;
  height: 250px;
  margin: 20px 0 0 20px;
  overflow: hidden;
  background-color: #271C23;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.squareCard .hover {
  z-index: 3;
  position: absolute;
  top: 0;
  height: 250px;
  width: 250px;
  cursor: pointer;
}
.squareCard .bar {
  width: 100%;
  height: 50px;
}
.squareCard .bar.indent-1 {
  margin-left: 50px;
}
.squareCard .bar.indent-2 {
  margin-left: 100px;
}
.squareCard .bar:nth-child(6) {
  z-index: -1;
  height: 150px;
}
.squareCard .cube-row {
  display: flex;
  width: 100%;
  height: 50px;
}
.squareCard .cube {
  width: 50px;
  height: 50px;
}
.squareCard .col {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.squareCard .col:nth-child(2) {
  left: 50%;
}

.infoCard {
  width: 260px;
  height: 530px;
  margin-top: 20px;
  background-color: #271C23;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.slideCard {
  display: flex;
  margin-left: 20px;
  width: 520px;
  height: 260px;
  background-color: #271C23;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.slideCard .carousel {
  width: 260px;
  height: 260px;
  margin: 0;
  overflow: hidden;
}
.slideCard .carousel .carousel-item {
  width: auto;
  height: 260px;
}
.slideCard .carousel .indicators {
  height: 50px;
}
.slideCard .carousel .indicators .indicator-item {
  height: 5px;
  width: 5px;
}
.slideCard .carousel .indicators .active {
  height: 7px;
  width: 7px;
  transform: translateY(1px);
}
.slideCard .button-next {
  width: 36px;
  height: 36px;
  background-color: #992B43;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin: 25% 0 0 0;
  border-radius: 50%;
  transform: translate(-50%, -25%);
}
.slideCard .button-next:hover {
  cursor: pointer;
}
.slideCard:nth-child(3) {
  margin-top: 20px;
}

.pictureCard {
  display: flex;
  margin-left: 20px;
  width: 520px;
  height: 260px;
  background-color: #271C23;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.pictureCard img {
  width: 260px;
  height: 260px;
  background-image: url("../src/img/joey2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.welcomeCard {
  width: 260px;
  height: 260px;
  background: radial-gradient(ellipse at top left, #412736 0%, #992b43 21%, #c45744 49%, #e38946 76%, #f5bf51 100%);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.welcomeCard .welcome {
  display: inline-block;
  color: #F9F9F9;
  text-align: center;
  vertical-align: middle;
  line-height: 190px;
  width: 100%;
}

.containerHasButton {
  margin: 0 0 0 -35px;
}

.textContainer {
  width: 242px;
}
.textContainer h5 {
  font-weight: 500;
  margin: 18px 0 0 18px;
}
.textContainer p {
  font-size: 14px;
  margin: 10px 0 0 18px;
}

::-webkit-scrollbar {
  width: 40px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 130px;
}

::-webkit-scrollbar-thumb {
  background: #323232;
  border: 17.5px solid #F9F9F9;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 50, 50, 0.7);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*# sourceMappingURL=style.css.map */
