$background: #F9F9F9;
$accent: #412736;
$accent-dark: #992B43;
$accent-dark-light: #C45744;
$accent-medium: #E38946;
$accent-lighter: #F5BF51;

.color-accent {
  background-color: $accent;
}
.color-accent-dark {
  background-color: $accent-dark;
}
.color-accent-dark-light {
  background-color: $accent-dark-light;
}
.color-accent-medium {
  background-color: $accent-medium;
}
.color-accent-lighter {
  background-color: $accent-lighter;
}
.pos-abs {
  position: absolute;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.vert-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Source Sans Pro Light";
  src: url(../src/fonts/SourceSansPro-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro ExtraLightLight";
  src: url(../src/fonts/SourceSansPro-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro Regular";
  src: url(../src/fonts/SourceSansPro-Regular.ttf) format("truetype");
}

h1,h2,h3,h4,h5,h6,div,p {
  font-family: "Source Sans Pro Light", sans-serif;
  color: white;
}

h1 {
  font-family: "Source Sans Pro ExtraLightLight", sans-serif;
  font-size: 45px;
  font-weight: 100;
}
h2 {
  font-family: "Source Sans Pro ExtraLightLight", sans-serif;
  font-size: 45px;
  padding: 0;
  margin: 0;
}

.button {
  .material-icons {
    font-size: 35px;
    color: white;
  }
}

.wrapper {
  background-color: $background;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.groupCenter {
  width: 1340px;
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
}
.content {
  display: flex;
  height: 260px;
  width: 1340px;
  &:nth-child(2) {
    height: 530px;
    margin-top: 20px;
  }
  &:nth-child(3) {
    height: 270px;
    width: 1060px;
  }
  &:nth-child(4) {
    width: 1060px;
  }
}
.smolWrapper {
  width: 1060px;
  height: 540px;
  margin-left: 20px;
}
.squareCard {
  z-index: 1;
  position: relative;
  width: 250px;
  height: 250px;
  margin-left: 20px;
  overflow: hidden;
  background-color: $accent;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  .hover {
    z-index: 3;
    position: absolute;
    top: 0; 
    height: 250px; 
    width: 250px;
    cursor: pointer;
  }
  &:nth-child(1) {
    margin-left: 0;
  }
  &:nth-child(4) {
    display: flex;
    .bar {
      width: 50%;
      height: 100%;
    }
  }
  .bar {
    cursor: pointer;
    width: 100%;
    height: 50px;
    &.indent-1 {
      margin-left: 50px;
    }
    &.indent-2 {
      margin-left: 100px;
    }
    &:nth-child(6){
      z-index: -1;
      height: 150px;
    }
  }
  .cube-row {
    display: flex;
    width: 100%;
    height: 50px;
  }
  .cube {
    width: 50px;
    height: 50px;
  }
}
.infoCard {
  width: 260px;
  height: 530px;
  background-color: $accent;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}
.slideCard {
  display: flex;
  margin-left: 20px;
  width: 520px;
  height: 260px;
  background-color: $accent;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  .carousel{
    width: 260px;
    height: 260px;
    margin: 0;
    overflow: hidden;
    .carousel-item {
      width: auto;
      height: 260px;
    }
    .indicators {
      height: 50px;
      .indicator-item {
        height: 5px;
        width: 5px;
      }
      .active {
        height: 7px;
        width: 7px;
        transform: translateY(1px);
      }
    }
  }
  .button-next {
    width: 36px;
    height: 36px;
    background-color: $accent-dark;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    margin: 25% 0 0 0;
    border-radius: 50%;
    transform: translate(-50%, -25%);
    &:hover {
      cursor: pointer;
    }
  }
  &:nth-child(1){
    margin: 0;
  }
}
.pictureCard {
  display: flex;
  margin-left: 20px;
  width: 520px;
  height: 260px;
  background-color: $accent;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  img {
    width: 260px;
    height: 260px;
    background-image: url("../src/img/joey2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
.welcomeCard {
  width: 260px;
  height: 260px;
  background: radial-gradient(ellipse at top left, rgba(65,39,54,1) 0%, rgba(153,43,67,1) 21%, rgba(196,87,68,1) 49%, rgba(227,137,70,1) 76%, rgba(245,191,81,1) 100%);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  .welcome {
    display: inline-block;
    color: $background;
    text-align: center;
    vertical-align: middle;
    line-height: 190px;
    width: 100%;
  }
}

.containerHasButton {
  margin: 0 0 0 -35px;
}
.textContainer {
  width: 242px;
  h5 {
    font-weight: 500;
    margin: 18px 0 0 18px;
  }
  p {
    font-size: 14px;
    margin: 10px 0 0 18px;
  }
}
